/*Colors:

Background: (46, 46, 46);   #282923  #0d1117  #161b22
Comments: (121, 121, 121);  #74705d
White: (214, 214, 214);     #f8f8f2
Yellow: (229, 181, 103);    #e7db74
Green: (180, 210, 115);     #a6e22c
Orange: (232, 125, 62);     #e87d3e
Purple: (158, 134, 200);    #ac80ff
Pink: (176, 82, 121);       #b05279
Red:                        #f92472
Blue: (108, 153, 187);      #67d8ef
*/


/*    MAIN PAGE    */

html, body.main {
	height: 100%;
	margin: 0;
	padding: 0;

}

#enso {
	width:200px;
	position:fixed;
	right:1vw;
	bottom: 5vh;
	margin:none;
}

@media screen and (max-width: 1262px) {
	#enso {
		width:200px;
		margin:auto;
		display:block;
		position:relative;
		bottom: 0;
	}
}


/* Style the tab */
 .tab {
 	position:relative;
 	display: flex;
 	width:100vw;
    height: max(5vh, 30px);
    border: none;
    background-color: #0d1117;
    color: #48a6fd;
    font-weight:bold;
}
/* Style the buttons inside the tab */
 .tab button {
 	width: 100vw;
    height: inherit;
    background-color: #0d1117;
    color: #f8f8f2;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
    font-size: max(min(2vw, 15px), 10px);
    font-weight:bold;
}
/* Change background color of buttons on hover */
 .tab button:hover {
    color: #ffffff;
    background-color: #ae9929;
    border-radius:50px;
}

/* Create an active/current tablink class */
 .tab button.active {
    background: #0d1117;
    color:white;
    transition: 0.3s ease all;
    border-radius: 50px;
    border:2px #d8bc27 solid;
}
/* Style the tab content */
 .tabcontent {
    width: 100vw;
    height: 95vh;
    margin: 0px;
    display: none;
    border: none;
    margin: 0;
    padding: 0;
    background-color:#0d1117;
    background-size:cover;
    background-position:center;
}

/*     SUBPAGE     */

body.subpage {
	background-color:#0d1117dd;
	color:#f8f8f2;
	margin: auto;
	padding: 2vh 5vw;
	line-height: 1.4;
}

h1, h2, h3 {
	font-family: "sans-serif";
	color:#d8bc27;
}

h2, h1 {
	text-align:center;
}

@media screen and (min-width: 800px) {
	body {
		width: 800px;
	}
}

a {
	color:#67d8ef;
}

a:hover {
	color:rgb(158, 203, 237);
}

div.code {
	background-color:#161b22ee;
	font-family: mono;
	font-size: 15px;
	padding: 20px;
	border-radius: 10px;
}
